---
http_interactions:
- request:
    method: get
    uri: https://api.tito.io/v3/event-admission/mouse-droid-imperial-star-destroyer-conference-2025/tickets/ti_test_pFjLxuUiofuiKdTgHhCQxyA
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token=<TITO_API_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1572e1bb7c39aa04b77949269d34d80d"
    body:
      encoding: UTF-8
      string: '{"ticket":{"_type":"ticket","view":"extended","id":12610686,"slug":"ti_test_pFjLxuUiofuiKdTgHhCQxyA","unique_url":"https://ti.to/tickets/ti_test_pFjLxuUiofuiKdTgHhCQxyA","company_name":"","job_title":"","email":"hebamamdouh2016@gmail.com","metadata":null,"first_name":"heba","last_name":"mamdouh","name":"heba
        mamdouh","number":8,"phone_number":"","price":0.0,"reference":"4W6S-1","state":"complete","test_mode":true,"registration_id":16102650,"registration_name":"heba
        mamdouh","registration_email":"hebamamdouh2016@gmail.com","release_id":1576798,"release_title":"early-bird","release_archived":false,"avatar_url":"https://secure.gravatar.com/avatar/8d9a45739843063bf1cc9fb6f11c85bd?default=https://dt5vdlaz6p3e7.cloudfront.net/avatars/8d9a45739843063bf1cc9fb6f11c85bd.png","void":false,"changes_locked":false,"consented_at":null,"discount_code_used":null,"tag_names":[],"created_at":"2025-07-15T10:45:11.000+03:00","updated_at":"2025-07-15T10:45:11.000+03:00","event":{"id":1152521,"title":"Mouse
        Droid Imperial Star Destroyer Conference 2025","slug":"mouse-droid-imperial-star-destroyer-conference-2025","path":"/event-admission/mouse-droid-imperial-star-destroyer-conference-2025"},"opt_ins":[],"responses":{},"assigned":true,"qr_url":"https://qr.tito.io/tickets/ti_test_pFjLxuUiofuiKdTgHhCQxyA","show_qr_code":true,"vcard_url":null,"vcard_data":null,"qr_code_disabled":false,"price_less_tax":0.0,"total_paid":0.0,"total_tax_paid":0.0,"total_paid_less_tax":0.0,"tags":null,"upgrade_ids":[],"registration_slug":"reg_test_pbKQOTdhax7TaAD8jYdd7lQ","release_slug":"early-bird","lock_changes":null,"activities":[],"registration":{"_type":"registration","view":"extended","id":16102650,"slug":"reg_test_pbKQOTdhax7TaAD8jYdd7lQ","billing_address":null,"created_at":"2025-07-15T10:45:11.000+03:00","updated_at":"2025-07-15T10:45:11.000+03:00","completed_at":"2025-07-15T10:45:11.000+03:00","discount_code":null,"email":"hebamamdouh2016@gmail.com","job_title":"","expires_at":"2025-07-15
        11:00:11 +0300","ip_address":"45.243.254.139","locale":"en","metadata":null,"name":"heba
        mamdouh","company_name":null,"payment_reference":null,"payment_option_name":null,"phone_number":"","registration_type":"manual","reference":"4W6S","source":null,"state":"complete","test_mode":true,"cancelled":false,"cancelled_at":null,"cancelled_by":null,"free":true,"paid":false,"invoice":false,"manual":true,"imported":false,"refundable":false,"refunded":false,"partially_refunded":false,"receipt_paid":true,"receipt_number":"0000008","receipt_id":9662924,"payment_incomplete":false,"payment_complete":false,"total":0.0,"tickets_count":1,"consented_at":null,"event":{"id":1152521,"title":"Mouse
        Droid Imperial Star Destroyer Conference 2025","slug":"mouse-droid-imperial-star-destroyer-conference-2025","path":"/event-admission/mouse-droid-imperial-star-destroyer-conference-2025"},"terms_accepted":false,"termset_ids":[],"editable_total_and_prices":true,"opt_ins":[],"payment":null,"total_less_tax":0.0,"discount_code_id":null,"payment_option_provider_name":null,"quantities":{"early-bird":{"release":"early-bird","quantity":1}},"receipt":{"id":9662924,"label":"Receipt","slug":"rct_test_pmItiTBfCpg1C6FyK7Z5jHA","total":0.0,"receipt_lines":[{"id":10361238,"quantity":1,"description":"early-bird","price":0.0,"total":0.0,"receipt_line_taxes":[]}]}},"release":{"_type":"release","view":"extended","id":1576798,"event_id":1152521,"created_at":"2025-07-14T12:07:21.000+03:00","updated_at":"2025-07-14T13:57:14.000+03:00","slug":"early-bird","title":"early-bird","description":null,"archived":false,"card_payments":true,"default_quantity":null,"donation":false,"enable_super_combo_summary":true,"end_at":"2025-07-22T12:00:00.000+03:00","has_success_message":false,"has_fail_message":false,"invoice":false,"max_donation":null,"max_tickets_per_person":null,"metadata":null,"min_tickets_per_person":null,"min_donation":null,"not_a_ticket":false,"show_qr_code":true,"only_issue_combos":false,"pricing_type":"free","payment_type":"free","position":0,"price":null,"price_ex_tax":0.0,"tax_exclusive":false,"price_degressive":null,"price_degressive_list":[],"quantity":20,"request_company_name":false,"request_job_title":false,"request_vat_number":false,"require_vat_number":false,"require_billing_address":null,"require_credit_card_for_sold_out_waiting_list":false,"require_email":true,"require_name":false,"secret":false,"show_price":true,"suggested_donation":null,"lock_changes":null,"state_name":"on_sale","start_at":"2025-07-14T12:00:00.000+03:00","waiting_list_enabled_during_locked":false,"waiting_list_enabled_during_sold_out":false,"share_url":"https://ti.to/event-admission/mouse-droid-imperial-star-destroyer-conference-2025/with/early-bird","tickets_count":12,"locked":false,"waiting_list":false,"sold_out":true,"off_sale":false,"expired":false,"upcoming":false,"allocatable":false,"changes_locked":false,"deletable":false,"default_question_positioning":true,"question_ids":[],"display_price":0.0,"gross_income":0.0,"full_price_tickets_count":0,"free_tickets_count":13,"discounted_tickets_count":0,"voided_tickets_count":1,"pending_waiting_list":false,"show_company_name":false,"require_company_name":false,"show_job_title":false,"require_job_title":false,"show_vat_number":false,"show_discount_code_field_here":false,"show_phone_number":false,"tax_description":null,"translations":{"en":{"description":"","fail_message":null,"success_message":"","title":"early-bird"}},"warnings":{},"termset_id":null,"ticket_group_id":null},"answers":[]},"meta":{"api_version":"3.0.0"}}'
  recorded_at: Tue, 15 Jul 2025 15:27:20 GMT
recorded_with: VCR 6.3.1
