---
http_interactions:
- request:
    method: get
    uri: https://api.tito.io/v3/event-admission/mouse-droid-imperial-star-destroyer-conference-2025/tickets?page=1&search%5Bq%5D=hebamamdouh2016@gmail.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token=<TITO_API_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"fa50dc295c7eac5a13ddccb5da4700b6"
    body:
      encoding: UTF-8
      string: '{"tickets":[{"_type":"ticket","id":12610686,"slug":"ti_test_pFjLxuUiofuiKdTgHhCQxyA","unique_url":"https://ti.to/tickets/ti_test_pFjLxuUiofuiKdTgHhCQxyA","company_name":"","job_title":"","email":"hebamamdouh2016@gmail.com","metadata":null,"first_name":"heba","last_name":"mamdouh","name":"heba
        mamdouh","number":8,"phone_number":"","price":0.0,"reference":"4W6S-1","state":"complete","test_mode":true,"registration_id":16102650,"registration_name":"heba
        mamdouh","registration_email":"hebamamdouh2016@gmail.com","release_id":1576798,"release_title":"early-bird","release_archived":false,"avatar_url":"https://secure.gravatar.com/avatar/8d9a45739843063bf1cc9fb6f11c85bd?default=https://dt5vdlaz6p3e7.cloudfront.net/avatars/8d9a45739843063bf1cc9fb6f11c85bd.png","void":false,"changes_locked":false,"consented_at":null,"discount_code_used":null,"tag_names":[],"created_at":"2025-07-15T10:45:11.000+03:00","updated_at":"2025-07-15T10:45:11.000+03:00"},{"_type":"ticket","id":12606946,"slug":"ti_test_pHPa1duhgDHB3J7CyLFdUVQ","unique_url":"https://ti.to/tickets/ti_test_pHPa1duhgDHB3J7CyLFdUVQ","company_name":"","job_title":"","email":"hebamamdouh2016@gmail.com","metadata":null,"first_name":"heba","last_name":"mamdouh","name":"heba
        mamdouh","number":1,"phone_number":"","price":0.0,"reference":"DNDM-1","state":"complete","test_mode":true,"registration_id":16098556,"registration_name":"heba
        mamdouh","registration_email":"hebamamdouh2016@gmail.com","release_id":1576798,"release_title":"early-bird","release_archived":false,"avatar_url":"https://secure.gravatar.com/avatar/8d9a45739843063bf1cc9fb6f11c85bd?default=https://dt5vdlaz6p3e7.cloudfront.net/avatars/8d9a45739843063bf1cc9fb6f11c85bd.png","void":false,"changes_locked":false,"consented_at":null,"discount_code_used":null,"tag_names":[],"created_at":"2025-07-14T12:09:58.000+03:00","updated_at":"2025-07-14T12:09:58.000+03:00"}],"meta":{"api_version":"3.0.0","current_page":1,"next_page":null,"prev_page":null,"total_pages":1,"total_count":2,"per_page":100,"overall_total":13,"resources_hidden_by_default_count":1,"search_states_hidden_by_default":["void","archived"],"sort_options":{"First
        name A-Z":{"attr":"first_name","direction":"asc"},"First name Z-A":{"attr":"first_name","direction":"desc"},"Last
        name A-Z":{"attr":"last_name","direction":"asc"},"Last name Z-A":{"attr":"last_name","direction":"desc"},"Ticket
        date, earliest first":{"attr":"tickets.created_at","direction":"asc"},"Ticket
        date, newest first":{"attr":"tickets.created_at","direction":"desc","default":true},"Price,
        least first":{"attr":"price","direction":"asc"},"Price, most first":{"attr":"price","direction":"desc"},"Reference":{"attr":"reference","direction":"asc"},"Number":{"attr":"number","direction":"asc"},"Last
        change":{"attr":"updated_at","direction":"desc"}},"filter_options":{"types":[{"label":"Added
        manually","value":"manual"},{"label":"Ordered by customer","value":"standard"}],"release_ids":[{"label":"Tea
        Brewing","value":"tea-brewing"},{"label":"coffee-brewing","value":"coffee-brewing"},{"label":"early-bird","value":"early-bird"}],"activity_ids":[],"sections":{"states":{"label":"Status","open":false},"types":{"label":"Type","open":false},"release_ids":{"label":"Tickets","open":false},"activity_ids":{"label":"Activities","open":false},"created_at":{"label":"Timeframe","open":false,"type":"time_frame"}},"states":[{"label":"Complete","value":"complete"},{"label":"Incomplete","value":"incomplete"},{"label":"Unassigned","value":"unassigned"},{"label":"Void","value":"void"},{"label":"Changes
        Locked","value":"changes_locked"},{"label":"Changes Allowed","value":"changes_allowed"},{"label":"Archived","value":"archived"}],"selected_states":["complete","incomplete","unassigned","changes_locked","changes_allowed"]}}}'
  recorded_at: Tue, 15 Jul 2025 15:27:20 GMT
recorded_with: VCR 6.3.1
