---
http_interactions:
- request:
    method: get
    uri: https://api.tito.io/v3/event-admission/mouse-droid-imperial-star-destroyer-conference-2025/tickets?page=1&search%5Bq%5D=noticket@example.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token=<TITO_API_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"a19e55b7ca9d0b644decc5711574a2dd"
    body:
      encoding: UTF-8
      string: '{"tickets":[],"meta":{"api_version":"3.0.0","current_page":1,"next_page":null,"prev_page":null,"total_pages":0,"total_count":0,"per_page":100,"overall_total":24,"resources_hidden_by_default_count":1,"search_states_hidden_by_default":["void","archived"],"sort_options":{"First
        name A-Z":{"attr":"first_name","direction":"asc"},"First name Z-A":{"attr":"first_name","direction":"desc"},"Last
        name A-Z":{"attr":"last_name","direction":"asc"},"Last name Z-A":{"attr":"last_name","direction":"desc"},"Ticket
        date, earliest first":{"attr":"tickets.created_at","direction":"asc"},"Ticket
        date, newest first":{"attr":"tickets.created_at","direction":"desc","default":true},"Price,
        least first":{"attr":"price","direction":"asc"},"Price, most first":{"attr":"price","direction":"desc"},"Reference":{"attr":"reference","direction":"asc"},"Number":{"attr":"number","direction":"asc"},"Last
        change":{"attr":"updated_at","direction":"desc"}},"filter_options":{"types":[{"label":"Added
        manually","value":"manual"},{"label":"Ordered by customer","value":"standard"}],"release_ids":[{"label":"Tea
        Brewing","value":"tea-brewing"},{"label":"coffee-brewing","value":"coffee-brewing"},{"label":"early-bird","value":"early-bird"}],"activity_ids":[],"sections":{"states":{"label":"Status","open":false},"types":{"label":"Type","open":false},"release_ids":{"label":"Tickets","open":false},"activity_ids":{"label":"Activities","open":false},"created_at":{"label":"Timeframe","open":false,"type":"time_frame"}},"states":[{"label":"Complete","value":"complete"},{"label":"Incomplete","value":"incomplete"},{"label":"Unassigned","value":"unassigned"},{"label":"Void","value":"void"},{"label":"Changes
        Locked","value":"changes_locked"},{"label":"Changes Allowed","value":"changes_allowed"},{"label":"Archived","value":"archived"}],"selected_states":["complete","incomplete","unassigned","changes_locked","changes_allowed"]}}}'
  recorded_at: Fri, 18 Jul 2025 22:47:28 GMT
recorded_with: VCR 6.3.1
